<nav>
    <ul>
        <li>post <a href="/day/new">new day</a></li>
        <li>post <a href="/variable/new">new variable</a></li>
        <li>post <a href="/category/new">new category</a></li>
        <li>post <a href="/system/new">new system</a></li>
    </ul>
</nav>