$desktopWidth: 830px;

$grayWhite: #F0F0F0;
$timbalBlack: #707070;
$teal: #52BCB9;
$blushPink: #F4B582;
$melon: #FFD344;
// $gradientTeal1: rgba(37,176,172,0.66);
// $gradientTeal2:  rgba(67,232,227,0.48);
$translucentTeal: rgba($teal, 0.48);
//~
$category_1: #C6C7F6;
$category_2: #F6AED0;
$category_3: #9AC3E7;
$category_4: #FFD500;
$category_5: #C496F5;
$category_6: #E7BE9A;
$category_7: #9E9E9E;
$category_8: #96F5F3;
$category_9: #C5F566;
$category_10: #99F596;

$desktopH2FontSize: 3vw;
$desktopPFontSize: 15px;

$mblH2FontSize: 3vw;
$mblPFontSize: 15px;

$formElemHt: 3vh; // 3vw

$baseMargin: 10px;
$logEntryWidth: 7vw; // timeLogGrid.vue
$mobileLogEntryWidth: 5vw; // timeLogGrid.vue

// /*placeholder styling mixin 
//   https://stackoverflow.com/a/17181946 */
// @mixin placeholderStyle {
// ::-webkit-input-placeholder { @content }
// :-moz-placeholder           { @content }
// ::-moz-placeholder          { @content }
// :-ms-input-placeholder      { @content }
// }

@mixin softUiShadow() {
    box-shadow:
        -5px -5px 15px 0 white,
        5px 5px 15px 0 transparentize(black, 0.9);
}

@mixin softUiShadow_SVG() {
    -webkit-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -webkit-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));

    -moz-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -moz-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));

    filter: drop-shadow(
        -5px -5px 15px 0 white);
    filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));
}

.softUiInsetShadow_SVG {
    -webkit-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -webkit-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));

    -moz-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -moz-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));

    filter: drop-shadow(
        -5px -5px 15px 0 white);
    filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));
}

@mixin softUiInsetShadow() {
    box-shadow:
        inset -5px -5px 15px 0 white,
        inset 5px 5px 15px 0 transparentize(black, 0.9);
        // inset 5px 5px 15px 0 transparentize($teal, 0.9);
}

.softUiInsetShadow {
    @include softUiInsetShadow();
}

@mixin softUiSelectedInsetShadow_teal() {
    box-shadow:
        inset -5px -5px 15px 0 white,
        // inset 5px 5px 15px 0 transparentize(black, 0.9),  
        inset 5px 5px 10px 0 $teal;//transparentize($teal, 0.9);  
}

select:hover {
    cursor:pointer;
}

.hidden {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $grayWhite;
    color: $timbalBlack;
    font-family: 'Quattrocento Sans', sans-serif;

    margin: 2vh 3vw;

    overflow: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}

hr {
    @include softUiShadow();
    border-color: $grayWhite;
    color: $grayWhite;
    border: 0;
    height: $baseMargin;
}

h2 {
    font-size: 3vw;
}

h1 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
    text-align: center;
    font-size: 2.5vw;
}

// header
.timbalHeader {
    margin-top: $baseMargin * 1.5;
}

.logo {
    width: 19vw;
    cursor: pointer;
}

// menu 
// .menuAndAppCon {
//     // display: flex;
//     // flex-direction: row;
//     // flex-wrap: wrap;
//     display: grid;
//     grid-template-columns: (2, minmax(0, 1fr));
// }

.menuCon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    a {
        margin-right: $baseMargin;
    }
}

// profile pic
$mblProfilePicRadius: 5vw;
.profilePic {
    width: $mblProfilePicRadius;
    height: $mblProfilePicRadius;

    margin-left: auto;
    margin-top: -$mblProfilePicRadius;
    border-radius: 50%;
    background-color: $teal;

    img {
        width: $mblProfilePicRadius;
        height: $mblProfilePicRadius;
        border-radius: 50%;
        object-fit: cover;
    }

    @include softUiShadow();
}

button, input[type=submit], input[type=button], .categoryListItem,
.shepherd-button {
    @include softUiShadow();
    color: $timbalBlack;
    cursor: pointer;
    border: none;
}

.categoryListItem {
    padding-right: $baseMargin * 3 !important;
    padding-left: $baseMargin * 3 !important;
}

// category library 
.categoryListItemEditable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// category input list
.formatDataDisplayCon {
    // horizontal scroll https://stackoverflow.com/a/258393 
    overflow: auto;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
}

.formatDataDisplayCon {
    display: flex;
    justify-content: center;
    button.circle {
        margin-left: 25%;
    }
}

.categoryListCon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    // vertical scroll if overlow
    height: 30vw;
    overflow: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}

// .verticalLine {
//     // border-right: $grayWhite 2px solid;
//     @include softUiShadow();
//     // border-color: $grayWhite;
//     background-color: red;
//     border: 0;
//     width: 2%;
//     height: 100%;
//     height: $baseMargin;
// }

.categoryListItem {
    text-shadow: 0.6px 0.5px 0.5px transparentize($timbalBlack, 0.7);
    color: $grayWhite;
    text-align: center;
    padding: $baseMargin / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $baseMargin;
}

button.dropDown, input[type=submit], input[type=button], .categoryListItem  {
    border-radius: $baseMargin * 5;
    width: 12vw;
    height: 5vw;
}

.categoryListItem {
    width: auto;
    margin-right: $baseMargin;
}

button.circle {
    border-radius: 50%;
    margin-left: $baseMargin * 2;

    width: $logEntryWidth * 1.25;
    height: $logEntryWidth * 1.25;
}

.circle:hover, input[type=submit]:hover, button:hover, input[type=button]:hover, .categoryListItem:hover, .shepherd-button:hover {
    @include softUiInsetShadow();
}

// onboarding API
.shepherd-content {
    background-color: $grayWhite;
    border-radius: 100px;
    color: red;//~
    padding: $baseMargin * 2;
}

.shepherd-element {
    @include softUiShadow();
    background-color: $grayWhite;
    border-radius: 100px;
}

.shepherd-arrow {
    background-color: rgba(white, 0);
}

.shepherd-arrow::before {
    background-color: $grayWhite;
}

.shepherd-button {
    background-color: $grayWhite;
}

.shepherd-text {
    margin-left: $baseMargin * 2;
}

.shepherd-button:hover {
    background-color: $grayWhite;
    color: $timbalBlack;
}

.shepherd-enabled {
    border-radius: 100px;
}

.shepherd-target {
    padding: $baseMargin * 2;
    @include softUiInsetShadow();
    border-radius: 100px;
}

// buttons
.deleteButton:hover {
    background-color: red;
}

input {
    font-size: $mblPFontSize;
    border: none;
    background-color: $grayWhite;
    font-family: 'Quattrocento Sans', sans-serif;
}

input[type=submit], input[type=button] {
    margin-top: $baseMargin * 2;
    align-items: center;
}

// log input
.dayCon {
    h2 {
        text-align: center;
        font-weight: normal;
        font-size: $mblH2FontSize;
    }
}

input[type=text], input[type=password], input[type=email] {
    @include softUiInsetShadow();
    border-radius: $baseMargin * 5;
    width: 30vw;
    height: 4vw;
    text-align: center;
}

.newCategoryTextInput input[type=text] {
    width: 20vw;
}

#categoryCode {
    width: 10vw;
}

.logTaskInputHeader {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.logTaskInput {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
}

// timeline header
.timelineHeaderCon {
    margin-top: $baseMargin * 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-items: center;

    .timelineCon {
        margin-left: $baseMargin;
        margin-right: $baseMargin;
    }

    .timeline {
        width: 90vw;
        // horizontal scroll https://stackoverflow.com/a/258393
        overflow: auto;
        -ms-overflow-y: hidden;
        overflow-y: hidden;
    }
}

// category input
.addCategoryCon {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    label {
        margin-bottom: $baseMargin * 4;
        margin-right: $baseMargin * 4;
    }
}

.addSystemCategoryCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addSystemCategory {
    z-index: 5;
    // position: fixed;
    // top: 20%;
    width: 35vw;
    border-radius: $baseMargin;
    padding: $baseMargin * 3;
    background-color: $grayWhite;
    @include softUiShadow();
}

.newSystemCatText {
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: $baseMargin * 2;
    }
}

.categoryHr {
    width: 80%;
    margin-bottom: $baseMargin * 4;
}

.addCategory, .deleteWindow {
    z-index: 5;
    position: absolute;
    border-radius: $baseMargin;
    padding: $baseMargin * 3;
    margin-top: -50vh;
    background-color: $grayWhite;
    @include softUiShadow();
}

.deleteConfirmationCon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
    top: -100%;
}

.confirmationOptions {
    button {
        border-radius: 30%;
        margin: $baseMargin;
        margin-top: $baseMargin * 3;
        border-radius: $baseMargin * 5;
        width: 12vw;
        height: 4vw;
    }
    text-align: center;
}

.addLogButton, .addCategoryButton, 
input[type=submit], input[type=button] {
    text-align: center;
    input[type=submit], button[type=button] {
        border-radius: $baseMargin * 3;
        width: 20vw;
        height: 8vw;
        font-size: $mblPFontSize;
    }
}

.cancelButton {
    margin-left: 95%;
    margin-top: 1%;
    cursor: pointer;
}

.smallInfoButton {
    margin-left: $baseMargin;
    font-style: italic;
    border-radius: 50%;

    height: 2vw;
    width: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.colorGridCon {
    margin-top: $baseMargin;
    margin-bottom: $baseMargin;
    text-align: center;
    display: flex;
    justify-content: center;

    .colorGrid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        row-gap: $baseMargin * 2;
        column-gap: $baseMargin * 4;
    }
}

.colorSwatch {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    @include softUiShadow();
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grayWhite;
}

.colorSwatch:hover {
    @include softUiInsetShadow();
    cursor: pointer;
}

.newCategoryTextInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.codeInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: $baseMargin * 3;
}

// authentication forms
.signUpForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    input {
        margin-top: $baseMargin;
    }
}

a {
    color: $timbalBlack;
    text-decoration: none;
}

a:hover {
    background-color: $timbalBlack;
    color: $grayWhite;
}
a.imageLink:hover {
    background-color: $grayWhite;
    text-decoration: none;
}

.auth {
    text-align: center;
    margin-top: 15%;

    input[type=submit], input[type=button] {
        width: 20vw;
        height: 8vw;
    }
}

.bubbleChart {
    display: flex;
    justify-content: center;
    margin-top: $baseMargin;
}

// time portraits
.center {
    button {
        padding: $baseMargin $baseMargin;
    }
}

.portraitCon {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 5% 10%;
    button {
        height: 100%;
        padding: $baseMargin;
        margin-right: $baseMargin;
    }
    .timeCon {
        @include softUiInsetShadow();
        padding: 0 $baseMargin * 2;
        border-radius: $baseMargin * 5;
    }
    .displayButton:hover {
        @include softUiShadow();
        cursor: auto;
    }
}

.portraitVisCon {
    display: flex;
    justify-content: center;
}

// .alternativeLinks {
//     padding-top: $baseMargin * 2;
// }

@media screen and (min-width: $desktopWidth) {
    .logo {
        width: 15vh;
    }

    .profilePic {
        width: 5vh;
        height: 5vh;
    }

    button {
        border-radius: $baseMargin * 5;
        font-size: $desktopPFontSize;
    }

    button.dropDown {
        width: 8vw;
        height: 3vw;
    }

    button.circle {
        border-radius: 50%;
        width: $mobileLogEntryWidth;
        height: $mobileLogEntryWidth;
    }

    .help {
        margin-left: 97%;
        border-radius: 50%;
        width: $mobileLogEntryWidth / 2;
        height: $mobileLogEntryWidth / 2;
    }

    //  log input
    .dayCon {
        h2 {
          font-size: $desktopH2FontSize;
        }
    }

    input[type=text] {
        width: 15vw;
        height: 4vw;
    }

    // add category forms
    .addLogButton, .addCategoryButton,
    input[type=submit], input[type=button] {
    input[type=submit], input[type=button], button[type=button], .categoryListItem  {
            width: 7vw;
            height: 3vw;
            font-size: $desktopPFontSize;
        }
    }

    // authentication 
    .signUpForm {
        input {
            margin-top: $baseMargin;
            width: 17vw;
            height: 3vw;
        }
    }

    .auth {
        input[type=submit] {
            width: 10vw;
            height: 4vw;
        }
    }

    input[type=text], input[type=password], input[type=email] {
        // height: 3vw;
        height: 4vw;
    }

    // header
    $desktopProfilePicRadius: 3vw;

    .logo {
        width: $desktopProfilePicRadius * 3;
    }

    .profilePic {
        width: $desktopProfilePicRadius;
        height: $desktopProfilePicRadius;
        margin-top: -$desktopProfilePicRadius;

        img {
            width: $desktopProfilePicRadius;
            height: $desktopProfilePicRadius;
        }
    }

    // category input 
    .addCategory {
        padding: $baseMargin * 3;
    }

    button.circle {
        width: $mobileLogEntryWidth;
        height: $mobileLogEntryWidth;
        font-size: $desktopPFontSize;
    }

    .categoryListItem {
        width: auto;
        height: $formElemHt;
        font-size: $desktopPFontSize;
        height: 3vw;
        height: 3vw;
    }

    .selectWithLabel {
        margin-left: $baseMargin * 2;
    }

    // select {
    //     height: $formElemHt;
    // }

    .timelineHeaderCon {
        display: flex;
        flex-direction: row;

        .timeline {
            width: 70vw;
        }
    }
}