$desktopWidth: 830px;

$grayWhite: #F0F0F0;
$timbalBlack: #707070;
//~
$category_1: #C6C7F6;
$category_2: #F6AED0;
$category_3: #9AC3E7;
$category_4: #FFD500;
$category_5: #C496F5;
$category_6: #E7BE9A;
$category_7: #9E9E9E;
$category_8: #96F5F3;
$category_9: #C5F566;
$category_10: #99F596;

$desktopH2FontSize: 3vw;//28px;//30px;
$desktopPFontSize: 15px;//20px;

$mblH2FontSize: 3vw;// 25px;
$mblPFontSize: 15px;//19px;

$baseMargin: 10px;
$logEntryWidth: 7vw; // timeLogGrid.vue
$mobileLogEntryWidth: 5vw; // timeLogGrid.vue

// /*placeholder styling mixin 
//   https://stackoverflow.com/a/17181946 */
// @mixin placeholderStyle {
// ::-webkit-input-placeholder { @content }
// :-moz-placeholder           { @content }
// ::-moz-placeholder          { @content }
// :-ms-input-placeholder      { @content }  
// }

@mixin softUiShadow() {
    box-shadow:
        -5px -5px 15px 0 white,
        5px 5px 15px 0 transparentize(black, 0.9);  
}

@mixin softUiShadow_SVG() {
    -webkit-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -webkit-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));  

    -moz-filter: drop-shadow(
        -5px -5px 15px 0 white);
    -moz-filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));  
        
    filter: drop-shadow(
        -5px -5px 15px 0 white);
    filter: drop-shadow(
        5px 5px 15px 0 transparentize(black, 0.9));  
}

@mixin softUiInsetShadow() {
    box-shadow:
        inset -5px -5px 15px 0 white,
        inset 5px 5px 15px 0 transparentize(black, 0.9);  
}

.hidden {
    display: none;
}

body {
    background-color: $grayWhite;
    color: $timbalBlack;
    font-family: 'Quattrocento Sans', sans-serif;

    margin: 2vh 3vw;
}

hr {
    @include softUiShadow();
    border-color: $grayWhite;
    color: $grayWhite;
    border: 0;
    height: $baseMargin;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-weight: normal;
    text-align: center;
    font-size: 2.5vw;
}

// header
.timbalHeader {
    margin-top: $baseMargin * 1.5;
}

.logo {
    width: 19vw;
}

// profile pic
$mblProfilePicRadius: 5vw;
.profilePic {
    width: $mblProfilePicRadius;
    height: $mblProfilePicRadius;

    margin-left: auto;
    margin-top: -$mblProfilePicRadius;
    border-radius: 50%;
    background-color: teal;

    @include softUiShadow();
}

button, input[type=submit] {
    @include softUiShadow();
    color: $timbalBlack;
    cursor: pointer;
    border: none;
}

button.dropDown, input[type=submit] {
    border-radius: $baseMargin * 5;
    width: 12vw;
    height: 5vw;
}

button.circle {
    border-radius: 50%;
    margin-left: $baseMargin * 2;

    width: $logEntryWidth;
    height: $logEntryWidth;
    // width: 10vw;
    // height: 10vw;
}

.circle:hover, input[type=submit]:hover, button:hover {
    @include softUiInsetShadow();
}

input {
    font-size: $mblPFontSize;
    border: none;
    background-color: $grayWhite;
    font-family: 'Quattrocento Sans', sans-serif;
}

input[type=submit] {
    margin-top: $baseMargin * 2;
    align-items: center;
}

// log input
.dayCon {
    h2 {
        text-align: center;
        font-weight: normal;
        font-size: $mblH2FontSize;
    }
}

input[type=text], input[type=password], input[type=email] {
    @include softUiInsetShadow();
    border-radius: $baseMargin * 5;
    width: 30vw;
    height: 4vw;//6vw;
    text-align: center;
}

.newCategoryTextInput input[type=text] {
    width: 20vw;

    // #categoryCode {
    //     width: 10vw;
    // }
}

.logTaskInputHeader {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.logTaskInput {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addLogButton, .addCategoryButton {
    text-align: center;
    input[type=submit] {
        width: 20vw;
        height: 8vw;
        font-size: $mblPFontSize;
    }
}

// category
.smallInfoButton {
    font-style: italic;
    // font-size: smaller;
}

// authentication forms 
.signUpForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    input {
        margin-top: $baseMargin;
    }
}

a {
    color: $timbalBlack;
}

a:hover {
    background-color: $timbalBlack;
    color: $grayWhite;
}

.auth {
    text-align: center;
    margin-top: 15%;

    input[type=submit] {
        width: 20vw;
        height: 8vw;
    }
}

// .alternativeLinks {
//     padding-top: $baseMargin * 2;
// }

@media screen and (min-width: $desktopWidth) {
    // // testing
    // body {
    //     background-color: pink;
    // }

    .logo {
        width: 15vh;//200px;
    }

    .profilePic {
        width: 5vh;//3vw;
        height: 5vh;//3vw;
    }

    button {
        border-radius: $baseMargin * 5;
        font-size: $desktopPFontSize;
    }

    button.dropDown {
        width: 8vw;//120px
        height: 3vw;//30px;//~
    }

    button.circle {
        border-radius: 50%;
        width: $mobileLogEntryWidth;
        height: $mobileLogEntryWidth;
    }

    //  log input
    .dayCon {
        h2 {
          font-size: $desktopH2FontSize;
        }
    }

    input[type=text] {
        width: 15vw;
    } 

    .addLogButton, .addCategoryButton {
    input[type=submit] {
            width: 11.5vw;
            height: 4vw;
            font-size: $desktopPFontSize;
        }
    }

    // authentication 
    .signUpForm {
        input {
            margin-top: $baseMargin;
            width: 17vw;
            height: 3vw;
        }
    }
    
    .auth {
        input[type=submit] {
            width: 10vw;
            height: 4vw;
        }
    }

    input[type=text], input[type=password], input[type=email] {
        height: 3vw;
    }

    .newCategoryTextInput {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .codeInput {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: $baseMargin * 3;
    }

    // header
    $desktopProfilePicRadius: 3vw;

    .logo {
        width: $desktopProfilePicRadius * 3;
    }

    .profilePic {
        width: $desktopProfilePicRadius;
        height: $desktopProfilePicRadius;
        margin-top: -$desktopProfilePicRadius;
    }
}