<!DOCTYPE html>
<html>
  <head>
    <title>Day's categories Visualizaiton</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= log_data %>
    
  </body>
</html>